# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
apis/
config/
controllers/
modles/
services/
utils/
vendor/
README.md
.git*